<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<!--Linker til min CSS fil her-->
<link rel="stylesheet" href="style.css">
<!--DU SKAL IKKE LINKE TIL DIN STORAGE!!-->
<!--<script src="Storage/storage.js"></script>-->
</head>

    <body>
        

        <h1>The new Tinder!</h1>
        <h2>The new groundbreaking algorithm that mactches you with YOUR soulmate</h2>

        <!--Laver vores bar øverst, oversigten
        <header class="header2" id="header2">            
            <div class="topnav">
                <a href="index.html">Home</a>
                <a href="swipe.html">Swipe</a>
                <a href="match.html">Matches</a>
                <a href="Profile.html">Profile</a>
            </div>
        -->     
<br>
<form id="form">

         <!--Her laves sign up delen-->
            <div id="Husk" class="Husk">
             <div>
                <h3>Sign up now!</h3>
                <select name="gender" id="urGender">
                    <option value ="select">Select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female 2">Female</option>
                    <option value="Trans">Trans</option>
                    <option value="Other">Other</option>
                </select>
            </div>


<br>

            <!--The preferred gender-->
            <div>
                <select name="Who are you looking for?" id="prefGender"> 
                    <option value="select">Select wished gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Trans">Trans</option>
                    <option value="All of the above">All of the above</option>
                </select>
            </div>


<br>        

            <!--Email-->
            <div>
                <label>Write your e-mail here</label>

<br>             <!--Husk at lave en paragraf, hvis man skal lave betingelser-->   
            <input id="email" type="email" name="E-mail" placeholder="Write your e-mail here...">
            </div>

            <p id="@"></p>


            <!--Fornavn-->
            <div>
                 <label>Write your firstname here</label>
<br>               
                <input id="firstname" type="text" name="firstname" placeholder="Firstname...">
            </div>



<br>            

            <!--efternavn-->
            <div>
                <label>Write your lastname here</label>
<br>               
                <input id="lastname" type="text" name="lastname" placeholder="Lastname...">
            </div>     
            
            

<!--Bruger post method i form, da der er et password med-->
<br>           
            <label>Write your password here</label>
            <div>
                <input id="password" type="password" name="password" placeholder="Password">
            </div>

            <div>
            <p id="Try again please"></p>
            <p id="capital"></p>
            <p id="number"></p>
            <p id="sl"></p>
            </div>


<br> 


            <!--Alder: Her kunne jeg bare lave type=text, og så få brugeren til at skrive sin alder ind, men synes dette så mere professionelt ud-->
            <label>Select your birth date</label>
<br>
            <div>
                <input id="birthday" type="date" date="birthday" name="birthday date">

            </div>


<br>
            <!--Knap-->
            <div>
            <button id="submit" type="submit" name="submit">Sign up!</button>
            </div>
        </div>

        

            <!--starten på login-->
            <div class = 'rightDiv'>
            <div>
                <h4>Log in, BOI!</h4>
                <label>Write your username here pls</label>
<br>
                <input id="Username" type="Username" id="Username" placeholder="Username"
            </div>


<br>


            <div>
                <label>Write your password here, boi</label>
<br>
                <input id="password2" type="password2" placeholder="Password"
            </div>


<br>
<br>


            <button id="login" type="submit" name ="submit">Log in!</button>

            </div>
            </form>
        </header>
<script src="storage.js"></script>
<!--<script src="/Model/storage.js"></script>
<script src="/Model/User.js"></script>-->
    </body>

</html>
